* {
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4857143;
}

.content {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.backgcolor {
  background-color: rgba(213, 128, 178, 1);
  color: white;
}

@keyframes breathe {
  0% {
    opacity: 0.9;
    box-shadow: 0 1px 2px rgb(255 215 0 / 40%), 0 1px 1px rgb(255 215 0 / 10%) inset;
  }
  100% {
    opacity: 1;
    box-shadow: 0 1px 30px 8px rgb(255 215 0), 0 1px 20px rgb(255 215 0) inset;
  }
}
.circle {
  width: 250px;
  height: 250px;
  border-radius: 999em;
  display: flex;
  flex-direction: row;
  box-shadow: 0 1px 2px rgb(0 0 0 / 30%);
  animation-name: breathe;
  animation-timing-function: ease-in-out;
  animation-duration: 1200ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.date {
  font-size: 60px;
}

.dvtitle {
  font-size: 20px;
}

.ng-scope {
  text-align: center;
  font-size: 14px;
}

.pass {
  margin-top: 5px;
  font-size: 20px;
}

.footer {
  margin-top: 10px;
  font-size: 10px;
}

.body_item {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root, html, body, .outside_button {
  height: 100%;
}

.button {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 10px;
}
